# Command to check :    cat /sys/block/sdX/queue/scheduler
# SSD=(/sys/block/sdX/queue/rotationall == 0)
ACTION=="add|change", KERNEL=="sd[a-z]|mmcblk[0-9]*|nvme[0-9]n[0-9]", ATTR{queue/rotational}=="0", ATTR{queue/scheduler}="none"